.btn {
  font-family: inherit;
  cursor: pointer;
}

.btn__search {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 3rem;
  padding: 1.5rem;
  font-size: 2rem;
  color: #fff;
  background-color: $color-primary;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  transform: scale(1);

  &:active {
    transform: scale(0.98);
  }

  .fas {
    margin-left: 0.5rem;
  }
}
